#scores{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

img{
    display: block;
    height:100px;
    width: auto;

}

button{
    padding: 0px;
    border-radius: 15px;
    border: 0px;
    background-size: cover;
}


